{% extends 'base.html' %}

{% load static %}

{% block title %} Banco de horas {% endblock %}

{% load bootstrap5 %}

{% block main %}
<div class="container">
    <div class="row">
      <div class="col-md" style="align-items: center; padding-top: 15px;">
        <p style="float: left;font-size: 30px;">Banco de horas</p>
    </div>
    <div class="col-md" style="align-items: center; padding-top: 15px;">
        <a href="{% url 'create_hora_extra' %}" class="btn btn-outline-success" style="float: right; font-size: 18px;">Nova hora extra</a>
    </div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Motivo</th>
                <th scope="col">Funcionario</th>
                <th scope="col">Horas extra</th>
                <th scope="col">Opcções</th>
              </tr>
            </thead>
            <tbody>
                {% for registro_re in object_list %}
                    <tr>
                        <th scope="row">{{ registro_re.id }}</th>
                        <td><a href="{% url 'update_hora_extra_base' registro_re.id %}">{{ registro_re.motivo }}</a></td>
                        <td>{{ registro_re.funcionario }}</td>
                        <td>{{ registro_re.horas }}</td>
                        <td>
                          {% buttons %}
                            <a class="btn btn-danger" href="{% url 'delete_hora_extra' registro_re.id %}">Delete</a>
                          {% endbuttons %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>
    
{% endblock %}

