{% load qr_code %}{% load static %}
<!-- <script src="{% static 'ponto_qrcode/assets/default/js/jquery-3.6.0.min.js' %}"></script> -->
<script src="{% static 'ponto_qrcode/assets/instascan.min.js' %}"></script>

<style>
    #uni_modal .modal-footer {
        display: none
    }
    
    #uni_modal .modal-sub-footer {
        display: flex
    }
    
    #scanner {
        width: 100%;
        height: 50vh;
        margin: 0px auto;
        position: relative;
        object-fit: cover;
        object-position: center center;
    }
    
    #scanner-focus {
        background: #00000085;
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
</style>
<div class="container-fluid">
    <div id="scanner-holder" class="position-relative">
        <video id="scanner"></video>
        <div id="scanner-focus" class="position-absolute">

        </div>
    </div>
</div>
<script>
    const args = {
        video: document.getElementById('scanner'),
        mirror: false
    };

    window.URL.createObjectURL = (stream) => {
        args.video.srcObject = stream;
        return stream;
    };

    const scanner = new Instascan.Scanner(args);
    scanner.addListener('scan', function(content) {
        // alert(content);
        $('.modal').modal('show') /*hide*/
        start_loader()
        setTimeout(() => {
            uni_modal("Ver detalhes do funcionário", "{% url 'Bater_ponto_qrcode' %}/" + content, 'modal-md')
            scanner.stop()
        }, 500)
    });
    $('#uni_modal').on('shown.bs.modal', function() {
        if ($('#scanner').length > 0) {
            scanner.stop()
            Instascan.Camera.getCameras().then(function(cameras) {
                if (cameras.length > 0) {
                    scanner.start(cameras[0]);
                } else {
                    console.error('Nenhuma câmera encontrada.');
                }
            }).catch(function(e) {
                console.error(e);
            });
        }
    })
    $('#uni_modal').on('hide.bs.modal', function() {
        scanner.stop()
    })
</script>